Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
groq==1.2.0
duckduckgo_search==8.1.1
python-dotenv==1.2.2
gunicorn==23.0.0
requests==2.32.5
numpy==2.4.4
pandas==3.0.2
pillow==12.0.0
asgiref==3.11.0
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.3
streamlit
